@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e10000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e10000;
}